
<!DOCTYPE html>
<!--[if lt IE 8 ]><html lang="hu" class="noJs ie ieLegacy outdated" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><![endif]-->
<!--[if IE 8 ]><html lang="hu" class="noJs ie ie8" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><![endif]-->
<!--[if IE 9 ]><html lang="hu" class="noJs ie ie9" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><![endif]-->
<!--[if !(IE)]><!--><html lang="hu" class="noJs" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><!--<![endif]-->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/fb/website#">
		<title>USTREAM - You're On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8">
		<link rel="shortcut icon" href="http://static-cdn1.ustream.tv/images/favicon-blue:1.ico" />
		
				<meta name="title" content="USTREAM - You're On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
		<meta property="fb:app_id" content="123875465478" />
		<meta property="fb:admins" content="100001749615123" />
		<meta property="og:title" content="USTREAM - You're On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
		<meta property="og:description" content="USTREAM - You&#039;re On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.ustream.tv/new" />
		<meta property="og:locale" content="hu_HU" />
		<meta property="og:site_name" content="Ustream" />
		<meta property="og:image" content="http://static-cdn1.ustream.tv/v3/images/ustream-logo-200x200:1366373447.png" />
		<link rel="image_src" href="http://static-cdn1.ustream.tv/v3/images/ustream-logo-200x200:1366373447.png" />

						
		<link
			rel="search" type="application/opensearchdescription+xml"
			href="http://static-cdn1.ustream.tv/osd:2.xml"
			title="Keresés a Ustream.tvn" />
		<link
			rel="alternate" type="application/rss+xml"
			title="Ustream élő adások"
			href="/live.rss" />
		<meta charset="utf-8" />

		<meta name="robots" content="index, follow" />
<meta name="description" content="USTREAM - You&#039;re On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
<meta name="verify-v1" content="rxzEzICqj/Fzcsk4DodfDnrkiLUEa8g7Bj5yONd80Pk=" />

		<link rel="stylesheet" type="text/css" href="http://static-cdn2.ustream.tv/packed/v6_core:13667916281.css" />
<link rel="stylesheet" type="text/css" href="http://static-cdn2.ustream.tv/packed/v6_explore:13666376621.css" />
<link rel="stylesheet" type="text/css" href="http://static-cdn2.ustream.tv/packed/v6_home_b:13666376621.css" />



	</head>
			<body id="V6_Grid" class="v6 discovery  context-live lang-hu-HU  ">
						<!-- Google Tag Manager -->
		<!-- End Google Tag Manager -->
			
		<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1038802165;
	var google_conversion_label = "u2ylCOea2QQQ9bmr7wM";
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<div style="height: 0; overflow: hidden;">
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
</div>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1038802165/?value=0&label=u2ylCOea2QQQ9bmr7wM&guid=ON&script=0"/>
	</div>
</noscript>
	
		
<div id="Header">
		<div id="HeaderGrad">
		<div class="main-content">
			<h1>{{name}}{{test}}</h1>

				<ul class="header-navbar navbar">
				<li class="mainmenu categories">
			<a href="/new"
				class="state  dropdown-toggle"
					data-requestpath="/ajax/new.json">
				Kategóriák			</a>aaaaaaaaaaaaaaaa
			</ul>

			<div class="pull-right">
				<div class="action-group">
							<form action="/new/search"
			data-requestpath="/ajax/new/search.json"
			method="GET"
			class="search-form"
			id="HeaderForm">
			<label for="HeaderSearchInput" class="din hideTxt">
				Keresés			</label>
			<input
				id="HeaderSearchInput" class="input-search"
				name="q" type="text" maxlength="200"
				placeholder="Keresés"
				value="" /><button type="submit" class="button-for-search button-important">
					Keresés				</button>


						<a href="#" class="state searchFakeLink"></a>
		</form>

					<a class="button button-broadcast start-broadcast">
						<span>Közvetítek!</span>
					</a>
				</div>
				<div id="HeaderLogin" class="user-menu">
											<a class="login">Bejelentkezés / Regisztráció</a>
						
	<div id="LoginClassicDialog">
		<input type="hidden" data-template="loginClassicDialog" />
		<form method="POST" action="" id="LoginClassicForm" name="loginClassicForm">
			<div class="ui-dialog-body">
				<div class="formWrap">
					<label for="ClassicUsername" class="hideTxt">
						Email cím vagy Felhasználónév					</label>
					<input type="text"
						name="username"
						id="ClassicUsername"
						placeholder="Email cím vagy Felhasználónév"
						autocomplete="on"
					/>

					<label for="ClassicPassword" class="hideTxt">
						Jelszó					</label>
					<input type="password"
						name="password"
						id="ClassicPassword"
						placeholder="Jelszó"
						autocomplete="on"
					/>
					<label for="LoginRemember">
						<input type="checkbox" name="remember" id="LoginRemember" checked="checked">
						Remember me					</label>
					<div class="recaptchaWrap" id="RecaptchaWrap">
											</div>
				</div>
			</div>
			<div class="ui-dialog-footer">
				<p>
					<a href="/forgot-password">Elfelejtetted a jelszavadat?</a>				</p>
				<button type="submit" class="button">
					<span>Bejelentkezés</span>
				</button>
			</div>
		</form>
	</div>

									</div>
			</div>
		</div>
	</div>

	
</div>


						<div id="MainContent" class="home-b clearAfter">
			<div class="explore-section clearAfter">
				<h2>Explore</h2>
				<div class="thin-col">
					<ul class="dropdown">
		<li class="all active emphasized">
		<a href="/new/explore/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/all.json">Népszerű</a>
	</li>
		<li class="news emphasized">
		<a href="/new/explore/news/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/news/all.json">Hírek</a>
	</li>
		<li class="entertainment emphasized">
		<a href="/new/explore/entertainment/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/entertainment/all.json">Szórakozás</a>
	</li>
		<li class="sports emphasized">
		<a href="/new/explore/sports/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/sports/all.json">Sport</a>
	</li>
		<li class="pets-animals emphasized">
		<a href="/new/explore/animals/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/pets-animals/all.json">Állatok</a>
	</li>
		<li class="music">
		<a href="/new/explore/music/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/music/all.json">Zene</a>
	</li>
		<li class="technology">
		<a href="/new/explore/technology/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/technology/all.json">Tech</a>
	</li>
		<li class="gaming">
		<a href="/new/explore/gaming/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/gaming/all.json">Játék</a>
	</li>
		<li class="education">
		<a href="/new/explore/education/all"
			class="state"
			data-requestpath="/ajax-alwayscache/new/explore/education/all.json">Oktatás</a>
	</li>
	</ul>
				</div>
			</div>

			<div class="channel-section clearAfter">
				<h2>They’ve already chosen us</h2>
				<div class="thin-col">
					<p>These top brands have already discovered the dependability, power and ease of Ustream - shouldn’t you?</p>
					<p><a class="button button-important start-broadcast">Create your channel</a></p>
				</div>
				<div class="channel-list content-col">
					<ul>
						<li class="media-swap-wrap">
							<div class="item-channel">
								<div class="promo-thumb"></div>
								<h4>Wall Street Journal</h4>
								<p>5,942 followers</p>
							</div>
						</li>
						<li class="media-swap-wrap">
							<div class="item-channel">
								<div class="promo-thumb ufc"></div>
								<h4>UFC Live</h4>
								<p>22,372 followers</p>
							</div>
						</li>
						<li class="media-swap-wrap">
							<div class="item-channel">
								<div class="promo-thumb cbs"></div>
								<h4>CBS News</h4>
								<p>21,917 followers</p>
							</div>
						</li>
						<li class="media-swap-wrap">
							<div class="item-channel">
								<div class="promo-thumb bieber"></div>
								<h4>Justin Bieber Show</h4>
								<p>61,534 followers</p>
							</div>
						</li>
						<li class="media-swap-wrap">
							<div class="item-channel">
								<div class="promo-thumb cnet"></div>
								<h4>CNET Live</h4>
								<p>2,158 followers</p>
							</div>
						</li>
						<li class="media-swap-wrap">
							<div class="item-channel">
								<div class="promo-thumb mtv"></div>
								<h4>MTV Live</h4>
								<p>104,841 followers</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="footer-section clearAfter">
			<p>
			<strong>Still looking for something?</strong>
			<a class="button button-important start-broadcast">Start Broadcasting</a>
			or			<a href="/new/explore/all" class="button button-important button-browsechannels">Browse our live channels</a>
			</p>
		</div>
	</div>
	</body>
</html>