
<!DOCTYPE html>
<head>
		<link
			rel="search" type="application/opensearchdescription+xml"
			href="http://static-cdn1.ustream.tv/osd:2.xml"
			title="Keresés a Ustream.tvn" />

	</head>
			<body id="V6_Grid" class="v6 discovery  context-live lang-hu-HU  ">
	
<div id="Header">
		<div id="HeaderGrad">
		<div class="main-content">
			<h1>{{name}}{{test}}</h1>

			<div class="pull-right">
				<div class="action-group">
							<form action="/new/search"
			data-requestpath="/ajax/new/search.json"
			method="GET"
			class="search-form"
			id="HeaderForm">
			<label for="HeaderSearchInput" class="din hideTxt">
				Keresés			</label>
			<input
				id="HeaderSearchInput" class="input-search"
				name="q" type="text" maxlength="200"
				placeholder="Keresés"
				value="" /><button type="submit" class="button-for-search button-important">
					Keresés				</button>
						<a href="#" class="state searchFakeLink"></a>
		</form>
				</div>
			</div>
		</div>
	</div>

	
</div>

	</body>
</html>