
<!DOCTYPE html>
<!--[if lt IE 8 ]><html lang="hu" class="noJs ie ieLegacy outdated" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><![endif]-->
<!--[if IE 8 ]><html lang="hu" class="noJs ie ie8" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><![endif]-->
<!--[if IE 9 ]><html lang="hu" class="noJs ie ie9" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><![endif]-->
<!--[if !(IE)]><!--><html lang="hu" class="noJs" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#"><!--<![endif]-->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/fb/website#">
		<title>USTREAM - You're On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8">
		<link rel="shortcut icon" href="http://static-cdn1.ustream.tv/images/favicon-blue:1.ico" />
		
				<meta name="title" content="USTREAM - You're On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
		<meta property="fb:app_id" content="123875465478" />
		<meta property="fb:admins" content="100001749615123" />
		<meta property="og:title" content="USTREAM - You're On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
		<meta property="og:description" content="USTREAM - You&#039;re On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.ustream.tv/new" />
		<meta property="og:locale" content="hu_HU" />
		<meta property="og:site_name" content="Ustream" />
		<meta property="og:image" content="http://static-cdn1.ustream.tv/v3/images/ustream-logo-200x200:1366373447.png" />
		<link rel="image_src" href="http://static-cdn1.ustream.tv/v3/images/ustream-logo-200x200:1366373447.png" />

						
		<link
			rel="search" type="application/opensearchdescription+xml"
			href="http://static-cdn1.ustream.tv/osd:2.xml"
			title="Keresés a Ustream.tvn" />
		<link
			rel="alternate" type="application/rss+xml"
			title="Ustream élő adások"
			href="/live.rss" />
		<meta charset="utf-8" />

		<meta name="robots" content="index, follow" />
<meta name="description" content="USTREAM - You&#039;re On - Broadcast Live Streaming Video, Watch Online Events, Chat Live, send a Tweet, follow on Facebook, MySpace, record your Live Shows" />
<meta name="verify-v1" content="rxzEzICqj/Fzcsk4DodfDnrkiLUEa8g7Bj5yONd80Pk=" />

		<link rel="stylesheet" type="text/css" href="http://static-cdn2.ustream.tv/packed/v6_core:13667916281.css" />
<link rel="stylesheet" type="text/css" href="http://static-cdn2.ustream.tv/packed/v6_explore:13666376621.css" />
<link rel="stylesheet" type="text/css" href="http://static-cdn2.ustream.tv/packed/v6_home_b:13666376621.css" />



	</head>
			<body id="V6_Grid" class="v6 discovery  context-live lang-hu-HU  ">
						<!-- Google Tag Manager -->
		<!-- End Google Tag Manager -->
			
		<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1038802165;
	var google_conversion_label = "u2ylCOea2QQQ9bmr7wM";
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<div style="height: 0; overflow: hidden;">
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
</div>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1038802165/?value=0&label=u2ylCOea2QQQ9bmr7wM&guid=ON&script=0"/>
	</div>
</noscript>
	
		
<div id="Header">
		<div id="HeaderGrad">
		<div class="main-content">
			<h1>{{name}}{{test}}</h1>

				<ul class="header-navbar navbar">
				<li class="mainmenu categories">
			<a href="/new"
				class="state  dropdown-toggle"
					data-requestpath="/ajax/new.json">
				Kategóriák			</a>aaaaaaaaaaaaaaaaaaaaaaaaaa
			</ul>

			<div class="pull-right">
				<div class="action-group">
							<form action="/new/search"
			data-requestpath="/ajax/new/search.json"
			method="GET"
			class="search-form"
			id="HeaderForm">
			<label for="HeaderSearchInput" class="din hideTxt">
				Keresés			</label>
			<input
				id="HeaderSearchInput" class="input-search"
				name="q" type="text" maxlength="200"
				placeholder="Keresés"
				value="" /><button type="submit" class="button-for-search button-important">
					Keresés				</button>


						<a href="#" class="state searchFakeLink"></a>
		</form>

					<a class="button button-broadcast start-broadcast">
						<span>Közvetítek!</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	
</div>

	</body>
</html>